{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="page-header">

    <h1 class="page-header">Rango says... hello {{ user.username }}!</h1>
    {% else %}
    <h1 class="page-header">Rango says... hello world!</h1>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                {% if categories %}
                <ul>
                    {% for category in categories %}
                    <li>
                        <a href="{% url 'category'  category.slug %}">{{ category.name }}</a>
                        {% if category.views == 1 %}
                            ({{category.views}} view)
                        {% elif category.views > 1 %}
                            ({{category.views}} views)
                        {% endif %}

                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <strong>There are no categories present.</strong>
                {% endif %}
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
                </div>
                {% if pages %}
                <ul>
                    {% for page in pages %}
                    <li><a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a> - {{page.category}}
                        {% if page.views == 1 %}
                            ({{page.views}} view)
                        {% elif page.views > 1 %}
                            ({{page.views}} views)
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <strong>There are no categories present.</strong>
                {% endif %}
            </div>
        </div>
    </div>

</div>


{% endblock %}