{% extends 'base.html' %}

    <!--<a href="{% url 'register' %}">Register Here</a> <br/>-->
    <!--<a href="{% url 'login' %}">Login</a> <br/>-->

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}

    <h2>Top Categories</h2>
    {% if categories %}
        <ul>
            {% for category in categories %}
            <!-- Making use of Django's built in functions so that hardcoded URLs are avoided -->
                <li><a href="{% url 'category' category.slug%}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    <h2>Top Pages</h2>
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages at the moment.</strong>
    {% endif %}


{% endblock %}
